.wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(250, 249, 249, 0.896); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 99;
  @media screen and (max-width: 1280px) {
    // height: 100%;
  }
}

div.nav-bar--hidden {
  transform: translateY(-10%);
}

.logo {
  cursor: pointer;
}
.logo_link svg {
  @media screen and (max-width: 1280px) {
    width: 171px;
    height: 35px;
  }
  @media screen and (max-width: 640px) {
    width: 145px;
    height: 30px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 99px;
  padding: 0 48px;
}

.menu {
  display: flex;
  cursor: pointer;
  align-items: center;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.menu_responsive {
  display: none;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  @media screen and (max-width: 1280px) {
    display: flex;
  }
}

.menu_icon {
  margin-left: 8px;
}

.menu-list {
  display: flex;
  gap: 3.125rem;
  margin-right: 4.813rem;
  font-size: 1.6rem;
}

.menu-item {
  display: inline-block;
  color: #ccc;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-item:hover {
  color: #6c6c6c;
}

.link {
  text-decoration: none;
  color: currentColor;
  position: relative;
  padding: 10px 20px;
  padding: 0;
  cursor: pointer;
}

.link::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
  transition: width 0.3s;
  color: #000;
}

.menu-contact {
  // width: 159px;
  // height: 52px;
}
a[aria-current='page']::after {
  content: ' ';
  left: 0;
  bottom: -5px;
  height: 2px;
  background: black;
  width: 100%;
  color: #000;
}

.title-btn {
  padding: 8px px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
}

.page_menu {
  width: 100%;
  min-height: 100%;
  display: none;
  position: absolute;
  top: 100px;
  background: url('./MenuIcon/Mask\ group.svg') no-repeat left top #fff;
  background-size: cover;
  z-index: 99;
  opacity: 1;
  padding-top: 48px;
  align-items: center;
  flex-direction: column;
}

.menu-list_respon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
