body {
  background-color: #E7ECEA;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  position: relative;
  text-align: center;
  color: #DDE2E0;
  margin-top: 5%;
  font-size: 4em;
}

p {
  pointer-events: none;
  text-align: center;
  font-family: sans-serif;
  margin-top: 10%;
}

i {
  pointer-events: none;
  margin: 0 auto;
  margin-top: 10%;
}

.container {
  border: solid thin #E7ECEA;
  margin: 0 auto;
  height: 700px;
  width: 1400px;
}

.tab-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  height: 100px;
  margin-top: 16%;
}

.tab {
  border: solid 0.01px #878A8C;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 20%;
}