@import 'normalize.css';

:root {
}

html {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Inter, sans-serif;
  display: block;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

Link {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  padding: 0;
}
