.wrapper {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.banner-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 43px;
}

.top-deription {
  margin: 10px auto 25px;
  size: 24px;
  line-height: 24px;
  color: #666666;
}
.information {
  min-height: auto;
  width: 100%;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  padding: 66px 229px 50px 229px;
  @media only screen and (min-width: 1446px) {
    padding: 66px 474px 50px 464px;
  }
}
.information__ourculture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 78px;
}
.information__ourculture__left {
  flex: 1;
}

.information__ourculture__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-row {
  display: flex;
  flex-direction: row;
}

.mg-l {
  margin-left: 12px;
  color: #222222;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.ourbenefit__title {
  margin: 30px auto 25px;
}
.compensation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.compensation_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  width: 452px;
  max-height: 75px;
}

.w-h-48-48-df {
  width: 48px;
  height: 48px;
  background-color: #e1e1e1;
  display: flex;
}

.mg-10-16 {
  margin-left: 16px;
  font-size: 14px;
  width: auto;
  color: #333333;
  font-weight: 400;
  line-height: 25.2px;
}

.Spiritual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ourbenefit__title1 {
  margin: 6px auto 25px;
}

.job {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 55px auto 60px;
  width: 100%;
}

.job_infor {
  display: flex;
  flex-direction: row;
  margin: 26px 0 24px;
  gap: 24px;
}

.job-infor_big {
  border-radius: 13px;
  width: 540px;
  height: 140px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  gap: 30px;
  padding-left: 32px;
}
