svg:not(:root) {
  overflow: initial;
}

.wrapper {
  justify-content: center;
  width: 100%;
  padding-top: 100px;
}

.content {
  color: #222;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  align-items: center;
  width: 100%;
  height: 100%;
}

.business {
  background-color: #222;
  color: #fcfcfc;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.title-btn {
  padding: 8px px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
}
.banner {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 479px;
  overflow: hidden;
}

.banner-btn {
  width: 139px;
  height: 47px;
  position: absolute;
  top: 0;
  align-items: center;
  left: 44.5%;
  z-index: 15;
  align-items: flex-start;
  gap: 10px;
  // background-color: #222;
  flex-shrink: 0;
  color: white;
  width: 160px;
  height: 47px;
  margin-top: 12px;
  justify-content: center;
  border-radius: 4px;
}

.banner-svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  stroke-width: 0.47px;
}
.other {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  stroke-width: 0.47px;
}

.banner-btn span {
  color: #fff;

  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content2 {
  display: flex;
  justify-items: center;
  flex-direction: column;
  text-align: center;
}

.text {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 10;
  color: #646464;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  padding-bottom: 40px;
}
.content-list {
  padding: 0 48px;
}

.content-item {
  flex-direction: column;
  border: #ccc 1px solid;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
// .slide :nth-child(even){
//   .content-item {
//   margin: 0 16px;
//   border: #666 1px solid !important;
// }}

div.slide-current {
  border: #666 1px solid !important;
}

.content-item-img {
  margin: auto;
  height: 345px;
  width: 100%;
}

.content-item__bot {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: self-start;
  width: 100%;
  height: 100%;
}
.content-item-header {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  margin: 0;
  margin-bottom: 12px;
  text-align: left;

  width: 100%;
}

.content-item-text {
  text-align: left;

  width: 100%;
  color: #666;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin: 0;
  // width: 389px;
}

.content2 {
  padding-top: 72px;
}

div[role='tablist'] {
  top: 24px !important;
  gap: 8px;
}

button[aria-controls=':r1:-slider-frame'] {
  display: none !important;
}

.about-us {
  padding-bottom: 60px;
  display: flex;
  padding-bottom: 60px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  // @media screen and (max-width: 780px) {
  //   display: flex;
  //   padding-bottom: 60px;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   row-gap: 20px;
  // }
}

.lable1 {
  width: 250px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--pink, #e432b3);

  background: #fff8fb;
}

.creativity {
  text-align: center;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 250px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--pink, #e432b3);

  background: #fff8fb;
}

.span-creativity {
  text-align: center;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--pink, linear-gradient(0deg, #e432b3 21.34%, #faa2a2 73.17%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intellect {
  text-align: center;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 250px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--pink, #0052f0);

  background: #f5f9fd;

  width: 250px;
  height: 88px;
}

.span-intellect {
  text-align: center;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--blue, linear-gradient(351deg, #0052f0 26.83%, #8bd7ff 85.9%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dedication {
  text-align: center;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 250px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--orange, #ff8400);

  background: #f5f9fd;

  width: 250px;
  height: 88px;
}

.span-dedication {
  text-align: center;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--blue, linear-gradient(0deg, #ff8400 26.22%, #f0ce93 82.93%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:nth-child(even) {
  margin: 0 12px;
}

.intro {
  position: relative;
  display: flex;
  width: 100%;
  height: 771px;
  @media screen and (max-width: 1280px) {
    height: 100%;
  }
  margin-bottom: 70px;
}
.intro-img {
  // position: absolute;
  // top: 0;
  // left: 0px;
  z-index: 1;
  border: #ccc 1px solid;
  width: 100%;
  padding: 0.875rem;
  border-radius: 4px;
}

.intro-logo {
  position: absolute;
  display: flex;
  top: 350px;
  left: 25%;
  z-index: 9;
  display: flex;
  margin: auto;
}
.intro-btn {
  position: absolute;
  top: 380px;
  left: 45%;
  z-index: 10;
  background-color: transparent;
  border: none;
}

.test {
  width: 100%;
  padding: 40px 0 70px;
}
.react-tabs__tab-list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #ccc !important;
  width: 100% !important;
}

.products {
  padding-top: 70px;
}

.div[role='tabpanel'] {
  padding: 0 248px !important;
}

.icon {
  display: flex;
  flex-direction: column;
  width: 167px;
  height: 121px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contenttext {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 24px 0 24px;
}
.contentleft {
  display: flex;
  align-items: center;
}
.mot {
  width: 1px;
  height: 28px;
  background-color: #000;
}

.logopartner {
  padding: 48px 0 80px;
  justify-content: center;
  display: flex;
  gap: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}

.finatext {
  width: 252px;
  height: 116px;
  top: 3637px;
  left: 330px;
  gap: 0px;
  opacity: 0px;
  background: #f5f5f5;

  border: 1px solid;
  border-radius: 4px;
  border-image-slice: 1;

  border-image-source: linear-gradient(351.12deg, #353535 26.83%, #b1b1b1 85.9%);
}

.nowcat {
  width: 252px;
  height: 116px;
  top: 3637px;
  left: 330px;
  gap: 0px;
  opacity: 0px;
  background: #f5f5f5;
  border-radius: 4px;

  border: 1px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(351.12deg, #0052f0 26.83%, #8bd7ff 85.9%);
}

.smart {
  width: 252px;
  height: 116px;
  top: 3637px;
  left: 330px;
  gap: 0px;
  opacity: 0px;
  background: #f5f5f5;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, #ff8400 26.22%, #f0ce93 82.93%);
  border-radius: 4px;
}

.hiring {
  width: 100%;
  height: 1026px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.btn-join {
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  padding-top: 34px;
}

.carer {
  display: flex;
  flex-direction: column;
  width: 522px;
  height: 100%;
  gap: 30px;
}

.carer-big {
  border-radius: 13px;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  gap: 30px;
  padding-left: 32px;
}

.carer__right {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  align-items: flex-start;
}
